/*------------------------------- CSS definitions -------------------------------*/
:root {
  /* Colors */
  --color-primary-1: hsl(75, 94%, 57%);
  --color-neutral-1: hsl(0, 0%, 100%);
  --color-neutral-2: hsl(0, 0%, 8%);
  --color-neutral-3: hsl(0, 0%, 12%);
  --color-neutral-4: hsl(0, 0%, 20%);

  /* Typography */
  --font-size-1: 0.875rem; /* 14px */
  --font-size-2: 1.5rem; /* 24px */

  --line-height-1: 150%;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* Spacing */
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-500: 2.5rem; /* 40px */

  /* Border radius */
  --border-radius-1: 0.5rem; /* 8px */
  --border-radius-2: 0.75rem; /* 12px */
}

@font-face {
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*---------------------------------- CSS reset ----------------------------------*/

/*-------------------------------- Main stylings --------------------------------*/
