/*------------------------------- CSS definitions -------------------------------*/
:root {
  /* Colors */
  --color-primary-1: hsl(75, 94%, 57%);
  --color-neutral-1: hsl(0, 0%, 100%);
  --color-neutral-2: hsl(0, 0%, 8%);
  --color-neutral-3: hsl(0, 0%, 12%);
  --color-neutral-4: hsl(0, 0%, 20%);

  /* Typography */
  --font-size-1: 0.875rem; /* 14px */
  --font-size-2: 1.5rem; /* 24px */

  --line-height-1: 150%;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* Spacing */
  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-500: 2.5rem; /* 40px */

  /* Border radius */
  --border-radius-1: 0.5rem; /* 8px */
  --border-radius-2: 0.75rem; /* 12px */
  --border-radius-3: 100%;
}

@font-face {
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*---------------------------------- CSS reset ----------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

/* Set shorter line heights on headings */
/* Balance text wrapping on headings */
h1,
h2 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Avoid text overflows */
p,
h1,
h2 {
  overflow-wrap: break-word;
}

/*-------------------------------- Main stylings --------------------------------*/
body {
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-1);
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-1);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0px, 0px, 0px, 0px);
}

.vertical-gap-50 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.vertical-gap-200 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.align-items-center {
  display: flex;
  align-items: center;
}

.social-link-card {
  background-color: var(--color-neutral-3);
  border-radius: var(--border-radius-2);
  max-width: 20rem; /* 320px */
  padding: var(--spacing-500);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  align-items: center;

  img {
    border-radius: var(--border-radius-3);
  }

  h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-1);
    font-weight: var(--font-weight-semi-bold);
  }

  p {
    color: var(--color-primary-1);
    font-weight: var(--font-weight-bold);
  }

  q {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      width: inherit;
    }
  }

  a {
    color: var(--color-neutral-1);
    text-decoration: none;
    display: block;
    padding: var(--spacing-150);
    /* width: 100%;  RRC: Why not needed*/
    border-radius: var(--border-radius-1);
    background-color: var(--color-neutral-4);
    font-weight: var(--font-weight-bold);
    text-align: center;
    transition: background-color linear 0.3s, color linear 0.3s;
  }

  a:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-4);
  }
}

@media (min-width: 80rem) {
  .social-link-card {
    max-width: 24rem; /* 384px */
  }
}
